<ion-header>
  <ion-toolbar color="primary" [hidden]="hasChange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-button-exit">
      <ion-icon name="exit-outline" size="large"></ion-icon>
    </div>
    <ion-buttons slot="end">
      <!-- Open search -->
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="search" [hidden]="!hasChange">
    <ion-searchbar name="search" [(ngModel)]="search"></ion-searchbar>
    <ion-button color="danger">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="main">
    <ion-button expand="full" color="success" [routerLink]="['/addition']">Adicionar Notas</ion-button>
    <ion-card *ngFor=" let notes of allNotes">
      <ion-card-header>
        <ion-chip color="primary">
          <ion-label>{{ notes.date }}</ion-label>
        </ion-chip>
      </ion-card-header>

      <ion-item>
        <ion-icon name="close" slot="end" color="danger" (click)="deleteNote(notes.id)"></ion-icon>
        <ion-icon name="create" slot="end" color="primary" [routerLink]="['/edition']"></ion-icon>
        <ion-label>{{ notes.description }}</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
